
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@700&family=Noto+Serif+JP:wght@700&family=Shippori+Mincho+B1:wght@700&display=swap');



html {
    font-size: 100%;
}

body {
    font-size: 0.8rem;
}



/* header navbar
=================================== */

#hdr_header {
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Kalam', cursive;
    position: sticky;
    top: 0;
}

#header .navbar {
    background: linear-gradient(150deg, rgba(96, 151, 234, 1), rgba(255, 255, 255, 1));
}

#hdr_header_sub {
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Kalam', cursive;
    position: sticky;
    top: 0;
}

/* main
========================================= */

/* swiper slider
========================================= */

.swiper .swiper-wrapper .swiper-slide {
    opacity: .3;
    transform: scale(.8);
    transition: .7s;
}

.swiper .swiper-wrapper .swiper-slide-active {
    opacity: 1;
    transform: scale(1);
    z-index: 1;
}






/* scroll
========================================= */

#main-bottom h2 {
    margin-bottom: 175px;
}

#main-bottom .img {
    opacity: 0;
}

#main-bottom .img a img {
    box-shadow: 7px 7px 15px rgba(96, 151, 234, 1);
    transition: all 2s;
    margin-bottom: 250px;
}

#main-bottom .img a:hover img {
    box-shadow: 7px 7px 15px #999;
    transition: 1s;
}

#main-bottom .img a:active img {
    box-shadow: none;
}

#main-bottom .img-after {
    opacity: 1;
}

.before-content {
    opacity: 0;
    position: relative;
    left: 70px;
    top: 25px;
}

.after-content {
    position: relative;
    left: 0;
    top: 0;
    opacity: 1;
    transition: all 2.5s;
}


/* about
========================================= */




/* footer 
================================================ */

#footer {
    font-size: 0.7rem;
}


/* events prof.html main 
========================================= */


/* events figire-skate 92 zennihon
========================================= */




